body {
    min-width: 320px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

main {
    padding-bottom: 325px;
}

/*----------------PRE-HEADER STARTS-----------------*/
.pre-header {
    width: 100%;
    max-width: 1196px;
    height: 38px;
    margin: 0 auto;
}

.top-nav {
    width: 69.3%;
    display: block;
    height: 100%;
    float: left;
}

.top-nav li {
    float: left;
    text-align: center;
    height: 100%;
}

.top-nav li a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: auto;
    padding: 0 25px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
    margin-top: 12px;
    height: 20px;
    line-height: 1.5;
    color: #535353;
}

.top-nav li a
.no-border {
    border-right: none !important;
}

.orange {
    color: #f78421 !important;
}

.location {
    background: url(../img/loc-icon.png) no-repeat 0% 44%;
    width: 15px;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 73px;
    position: relative;
    left: 17px;
}

.header-icons {
    float: left;
    height: 100%;
    width: 141px;
}

.like {
    background: rgba(0, 0, 0, 0) url("../img/like.png") no-repeat scroll 47% 50%;
    border-right: 1px solid #e8e8e8;
    float: left;
    height: 53%;
    margin: 12px 0 0;
    width: 67px;
}

.like:hover {
    opacity: 0.5;
}

.basket:hover {
    opacity: 0.5;
}

.basket span {
    background: url(../img/basket-num.png) no-repeat;
    color: #ffffff;
    font-size: 13px;
    position: absolute;
    top: 10%;
    left: 60%;
    width: 18px;
    height: 22px;
    text-align: center;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.like a {
    display: block;
    width: 100%;
    height: 100%;
}

.basket {
    position: relative;
    width: 67px;
    height: 100%;
    float: left;
    background: url(../img/basket.png) no-repeat 58% 50%;
}

.basket a {
    display: block;
    width: 100%;
    height: 100%;
}

.right-info {
    width: 23%;
    float: right;
    height: 100%;
}

.user {
    width: 52%;
    height: 100%;
    background: #f78421;
    float: left;
    cursor: pointer;
    text-align: center;
}

.user span {
    line-height: 3;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

/*.user:hover {
    background: #fff;
    border: 1px solid #f78421;
}*/

.user span:hover {
    font-weight: bolder;
}

.phone {
    width: auto;
    height: 100%;
    float: right;
}

.phone p {
    line-height: 3;
    color: #f78421;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
}

.phone b {
    font-weight: bold;
}

/*----------------PRE-HEADER ENDS---------------*/

/*----------------HEADER STARTS-----------------*/
header {
    width: 100%;
    height: 53px;
    background: #f8f8f8;
    overflow: hidden;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(216, 216, 216, 0.6);
    -moz-box-shadow: 0px 5px 11px 0px rgba(216, 216, 216, 0.6);
    box-shadow: 0px 5px 11px 0px rgba(216, 216, 216, 0.6);
}

.header-inner {
    max-width: 1196px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 122px;
    height: 40px;
    margin-top: 7px;
    margin-right: 3.1%;
    float: left;
}

.logo a {
    display: block;
    width: 100%;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/*----------------Navigation set starts-----------------*/
.main-menu {
    width: 81%;
    height: 100%;
    float: left;
}

.main-menu li {
    display: block;
    height: 97%;
    float: left;
    text-align: center;
    width: auto;
    margin-right: 3%;
}

.main-menu li:last-child {
    margin-right: 0px;
}

.main-menu li a {
    display: block;
    color: #183984;
    font-size: 14px;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 4;
}

.main-menu li a:hover {
    color: #f78421;
}

.main-menu li:hover {
    border-bottom: 2px solid #f78421;
}

.navigation {
    background: rgba(0, 0, 0, 0) url("../img/nav.png") no-repeat scroll 0 0;
    display: none;
    float: right;
    height: 30px;
    margin-right: 2%;
    margin-top: 12px;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
}

.vertical-menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    display: none;
    height: auto;
    left: 0;
    position: absolute;
    top: 76px;
    width: 100%;
    z-index: 3;
}

.close-nav {
    z-index: 5;
    left: 93% !important;
    top: 12px !important;
}

.vertical-menu li {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #dfdfdf;
}

.vertical-menu li a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 3.5;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    color: #f78421;
}

/*----------------Navigation set ends-----------------*/
.search {
    display: block;
    width: 4%;
    height: auto;
    float: right;
    position: relative;
}

.search input[type="text"] {
    border: medium none;
    height: 25px;
    margin-top: 14px;
    outline: medium none;
    vertical-align: middle;
    width: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 30px;
    cursor: pointer;
    background: #f8f8f8;
    /*    padding-left: 10px;*/
}

.search input[type="submit"] {
    background: url(../img/search.png) no-repeat;
    border: medium none;
    width: 32%;
    display: block;
    position: absolute;
    top: 50%;
    left: 39%;
}

.search input:hover {
    -webkit-box-shadow: 1px 7px 75px 0px rgba(247, 132, 33, 1);
    -moz-box-shadow: 1px 7px 75px 0px rgba(247, 132, 33, 1);
    box-shadow: 1px 7px 75px 0px rgba(247, 132, 33, 1);
}

/*----------------HEADER ENDS-----------------*/

/*----------------MAIN STARTS-----------------*/
main {
    width: 100%;
    max-width: 1196px;
    margin: 0 auto;
}

main h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 48px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e8e8e8;
}

main div:last-child {
    margin-bottom: 25px;
}

.order {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.order-inner {
    background: #ebebeb;
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-top: 30px;
}

.order-inner div {
    float: left;
    margin-top: 23px;
    width: 25%;
}

.order-inner div span {
    display: block;
    border-right: 1px solid #c1c1c1;
    text-align: center;
    height: 28px;
    overflow: hidden;
}

.accepted {
    margin-top: 20px !important;
    margin-bottom: 30px;
}

.number {
    background: url(../img/str.png) no-repeat 75% 21%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #f78421;
    text-decoration: underline;
    cursor: pointer;
    /*	width: 21.3%;*/
}

.number:hover {
    text-decoration: none;
}

.amount {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.amount b {
    margin-left: 10px;
    font-size: 18px;
}

.status {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #183984;
    /*	width: 23.22%;*/
}

.accept {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 16px auto !important;
    cursor: pointer;
    /*	width: 24%;*/
}

.accept span {
    border: 1px solid #f78421 !important;
    height: 28px;
    width: 55%;
    border-radius: 19px;
    line-height: 2.5;
    margin-left: 25%;
    font-size: 12px;
}

.accept span:hover {
    color: #fff;
    background: #f78421;
}

.detaile {
    /*	width: 24%;*/
}

.detaile a {
    color: #183984;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

.detaile a:hover {
    text-decoration: none;
}

.οrder-content {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: 30px;
}

.item-view {
    width: 54.4%;
    height: auto;
    float: left;
    margin-right: 5.9%;
}

.item {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    overflow: hidden;
}

.img-holder {
    width: 26%;
    height: auto;
    float: left;
    margin-top: 40px;
    margin-right: 8%;
    margin-left: 5%;
}

.img-holder img {
    width: 100%;
    height: auto;
}

.description {
    float: left;
    width: 59%;
    position: relative;
}

.description h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 25px;
    padding-bottom: 17px;
    width: 95%;
}

.close {
    background: url(../img/close.png) no-repeat;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    top: 26px;
    left: 95%;
}

.close:hover {
    border: 1px solid #000;
}

.description table {
    width: 93%;
    height: auto;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 11px;
}

.description table th {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 3;
    text-align: left;
    /*    width: 33.3%;*/
}

.description table td {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    text-align: left;
}

.col-1 {
    width: 41%;
}

.col-3 {
    /*	text-align: center !important;*/
    display: block;
}

.description table td:last-child {
    display: block;
    text-align: center;
    width: 11%;
    margin-left: 12%;
}

.total {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 23px;
}

.total p {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    float: left;
    margin-right: 10px;
}

.total span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    line-height: 0;
}

.send-order {
    width: 39%;
    height: auto;
    float: left
}

.send-order h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 19px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 33px;
    display: block;
}

.send-order span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.send-order a {
    display: block;
    margin-top: 30px;
    color: #f78421;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 49%;
    text-align: center;
    line-height: 2.7;
    border: 1px solid #f78421;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}

.send-order a:hover {
    background: #f78421;
    color: #fff;
    opacity: 1;
}

.send-order p {
    margin-top: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.9;
    font-size: 13px;
}

.adress-pop-up {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.adress-pop-up-inner {
    background: #fff;
    width: 58%;
    height: auto;
    overflow: hidden;
    margin: 31.5% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    opacity: 1;
}

.adress-pop-up-inner h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin: 52px auto 75px;
    text-align: center;
}

.adress-pop-up-inner form {
    width: 75%;
    margin: 0 auto;
}

.adress-pop-up-inner span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
    text-align: left;
    float: left;
    font-size: 13px;
    width: 17%;
    line-height: 3;
}

.adress-pop-up-inner input {
    display: block;
    width: 62%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #3c3c3c;
    margin-bottom: 20px;
    height: 38px;
    line-height: 2;
    border: medium none;
    outline: medium none;
    vertical-align: middle;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 20px;
}

.adress-pop-up-inner input[type="submit"] {
    width: 32%;
    height: 38px;
    text-transform: uppercase;
    border: medium none;
    background: #fff;
    border: 1px solid #303030;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 20px;
    padding-left: 0px;
    margin: 0 auto 82px;
}

.pop-up {
    background: url(../img/close-pop-up.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 28%;
    left: 80%;
}

/*----------------MAIN ENDS-----------------*/
/*----------------FOOTER STARTS-----------------*/
footer {
    background: #263e7e;
    width: 100%;
    height: 325px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    overflow: hidden;
}

.row {
    height: 100%;
    overflow: hidden;
    float: left;
}

.row p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.row a {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.row span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.row a:hover {
    text-decoration: none;
    opacity: 1;
}

.back-call {
    margin-top: 23px !important;
    margin-left: 0px !important;
    width: 99% !important;
    border: 1px solid #fff;
    line-height: 3;
    text-align: center;
    border-radius: 18px;
    text-decoration: none !important;
}

.back-call:hover {
    background: #fff;
    color: #263e7e;
    opacity: 1;
}

.social {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}

.social a {
    width: 35px;
    height: 30px;
    display: block;
    float: left;
    margin: 0 0 0 5px;
}

.fb {
    background: url(../img/fb.png) no-repeat;
}

.ut {
    background: url(../img/ut.png) no-repeat;
}

.insta {
    background: url(../img/insta.png) no-repeat;
}

.last div:first-child {
    margin-left: 18px;
}

.first {
    width: 21.5%;
}

.secound {
    width: 29.2%;
}

.garanty {
    margin-top: 21px !important;
}

.third {
    width: 23.6%;
}

.last {
    width: 25%;
}

.all-rights-res {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.footer-img-holder {
    margin-top: 8%;
    width: 100px;
    overflow: hidden;
    display: none;
}

.footer-img-holder img {
    width: 100%;
    height: auto;
}

/*----------------FOOTER ENDS-----------------*/

@media only screen and (min-width: 320px) and (max-width: 1196px), only screen and (min-device-width: 320px) and (max-device-width: 1196px) {
    .top-nav li a {
        padding: 0 5px;
    }

    .top-nav {
        width: 670px;
    }

    .location {
        margin-right: 10px;
    }

    .location {
        margin-left: 0px;
    }

    .main-menu li a {
        font-size: 13px;
    }

    .main-menu li {
        margin-right: 2%;
    }

    main h2 {
        text-align: center;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1024px), only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .main-menu li a {
        font-size: 12px;
    }

    .accept span {
        font-size: 10px;
    }

    .number {
        background: rgba(0, 0, 0, 0) url("../img/str.png") no-repeat scroll 76% 9%;
    }

    .item-view {
        width: 100%;
    }

    .send-order {
        width: 100%;
    }

    .send-order h3 {
        text-align: center;
    }

    .send-order a {
        margin: 20px auto;
    }

    .send-order p {
        margin: 27px;
    }

    .pop-up {
        top: 25%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 960px), only screen and (min-device-width: 320px) and (max-device-width: 960px) {
    .top-nav {
        width: 100%;
        margin: 0px;
    }

    .header-icons {
        float: right !important;
    }

    .right-info {
        float: left;
        width: 100%;
    }

    .user {
        width: 50%;
    }

    .phone {
        text-align: center;
        width: 50%;
    }

    .location {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .search {
        display: none;
    }

    .navigation {
        display: block;
    }

    .amount {
        font-size: 12px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px), only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .top-nav li:nth-child(2n) {
        display: none;
    }

    .top-nav li:nth-child(3n) {
        display: none;
    }

    .top-nav {
        width: 100%;
    }

    .order-inner {
        height: auto;
    }

    .order-inner div {
        width: 50% !important;
        float: left;
    }

    .accept span {
        line-height: 2.5;
        font-size: 12px !important;
    }

    .secound {
        display: none;
    }

    .third {
        display: none;
    }

    .first {
        width: 30%;
    }

    .last {
        width: 38%;
    }

    .footer-img-holder {
        display: block;
    }

    .first p {
        margin-left: 18px !important;
    }

    .navigation {
        min-width: 5%;
    }

    .number {
        background: none;
    }

    .pop-up {
        top: 20%;
    }

    .adress-pop-up-inner span {
        width: 100%;
    }

    .adress-pop-up-inner input {
        width: 100%;
    }

}

@media only screen and (min-width: 320px) and (max-width: 640px), only screen and (min-device-width: 320px) and (max-device-width: 640px) {
    .row span {
        font-size: 21px;
    }

    .img-holder {
        height: auto;
        margin: 40px auto;
        width: 50%;
        float: none;
    }

    .description {
        margin: 0 auto;
        position: relative;
        width: 59%;
        float: none;
    }

    .close {
        top: 2%;
    }

    .description table {
        width: 120%;
    }

    .navigation {
        min-width: 6%;
    }

    .pop-up {
        top: 17%;
    }

    .adress-pop-up-inner h4 {
        font-size: 20px;
    }

    .back-call {
        font-size: 8px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .row span {
        font-size: 13px;
    }

    .total span {
        font-size: 15px;
    }

    .total p {
        line-height: 1.2;
        font-size: 13px;
    }

    .navigation {
        min-width: 7%;
    }

    .pop-up {
        top: 13%;
    }

    .adress-pop-up-inner input {
        width: 89%;
        font-size: 10px;
    }

    .adress-pop-up-inner span {
        font-size: 10px;
    }

    .amount {
        font-size: 13px;
        line-height: 2;
    }

    .amount b {
        font-size: 14px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 320px), only screen and (min-device-width: 0px) and (max-device-width: 320px) {
    .accept span {
        font-size: 14px;
        line-height: 2.5;
    }

    .number {
        background: rgba(0, 0, 0, 0) url("../img/str.png") no-repeat scroll 85% 9%;
    }

    .description table td {
        font-size: 8px;
    }

    .total span {
        font-size: 13px;
    }

    .total p {
        line-height: 1.7;
        font-size: 10px;
    }

    .navigation {
        min-width: 7%;
    }

    .pop-up {
        top: 9%;
    }

    .number {
        background: none;
        line-height: 2;
    }

    .amount {
        font-size: 12px;
        line-height: 2;
    }

    .amount b {
        font-size: 11px !important;
    }
}
